body {
    background-color: #49416d;
    background-image: url("wave.svg");
    background-position: right;
    background-size: 250%;
    background-repeat: no-repeat;
}
li {
    color: #656d41;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: "Courier New", Courier, monospace;
}
#links {
    border-width: 2px;
    border-style: solid;
    border-color: #656d41;
    border-radius: 5%;
    padding: 10px;
    border-width: 5px;
    width: 500px;
}
a {
    color: darkgoldenrod;
    font-family: "Courier New", Courier, monospace;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
}
h1,
h2,
h3 {
    color: #656d41;
    font-family: "Courier New", Courier, monospace;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
p {
    color: #656d41;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: "Courier New", Courier, monospace;
}
hr {
    width: 50%;
    text-align: left;
    margin-left: 0px;
    height: 2px;
    color: #656d41;
    background-color:  #656d41;
    
}
::-moz-selection {
    color: blueviolet;
    background: transparent;
}

::selection {
    color: blueviolet;
    background: transparent;
}
img {
    border-radius: 2px;
    border-color: rgb(103, 103, 89);
    border-style: solid;
}
img:hover {
    animation:
        shake 0.5s,
        fade 5s;

    animation-iteration-count: infinite;
    border-radius: 2px;
    border-style: solid;
}
#ikwya {
    border-radius: 2px;
    border-color: rgb(103, 103, 89);
    border-style: solid;
    position: absolute;
}
#ikwya:hover {
    animation:
        shake 0.5s,
        fade 5s;

    animation-iteration-count: infinite;
    border-radius: 2px;
    border-style: solid;
    position: absolute;
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
@keyframes fade {
    0% {
        border-color: red;
    }
    20% {
        border-color: purple;
    }
    40% {
        border-color: blue;
    }
    60% {
        border-color: teal;
    }
    80% {
        border-color: green;
    }
    100% {
        border-color: red;
    }
}
